$header-xl-size: 5rem;
$header-lg-size: 4.5rem;
$header-md-size: 2.8rem;
$header-sm-size: 2rem;

$paragraph-lg-size: 1.6rem;
$paragraph-md-size: 1.2rem;
$paragraph-sm-size: 0.8rem;

$links-sm-size: 0.8rem;
$links-md-size: 1rem;
$links-lg-size: 1.2rem;