$primary-light-color: #fff;
$primary-dark-color: rgb(8, 5, 39);
$secondary-dark-color: rgb(82, 82, 82);
$secondary-light-color: rgb(178, 178, 178);
$warning-color: rgb(234, 193, 105);
$danger-color: rgb(252, 81, 58);
